.exercicio10 {
    .conteiner {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .campos {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            height: 130px;
            width: 490px;
            padding: 30px;
            margin-top: 20px;
            margin-left: 70px;
            border-radius: 10px;
            gap: 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;

            .inputs {
                display: flex;
                flex-direction: row;
                gap: 85px;

                .informacao {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    input {
                        border-radius: 10px;
                        border: 2px solid #c3c3c3;
                        padding: 10px;
                        width: 180px;
                    }
                }
            }

            .executar {
                display: flex;
                justify-content: end;
                margin-top: 20px;

                button {
                    background-color: #6278F7;
                    color: #fff;
                    border-radius: 10px;
                    border: 0px;
                    padding: 15px;
                    width: 200px;
                }
            }
        }

        .situacao {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 20px;

            .alinhamento {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            .informacoes {
                display: flex;
                flex-direction: row;
                background-color: #fff;
                gap: 10px;
                border-radius: 15px;
                width: 1135px;

                h4 {
                    margin-left: 20px;
                }
            }

            .icone img {
                padding: 13px;
                background-color: #6278F7;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 450px) {
    .exercicio10 {
        .conteiner {
            flex-direction: column;
            .campos {
                display: flex;
                flex-direction: column;
                width: 210px;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-top: 20px;
                .inputs {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    .informacao {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        input {
                            border-radius: 10px;
                            border: 2px solid #c3c3c3;
                            padding: 7px;
                            width: 70px;
                        }

                        label {
                            font-size: 15px;
                        }
                    }
                }
            }

            .situacao {
                .informacoes {
                    gap: 15px;
                    border-radius: 15px;
                    width: 280px;
                    height: 60px;
                    margin-left: 20px;

                    h4 {
                        margin-left: 10px;
                        font-size: 13px;
                    }
                }

                .icone img {
                    margin-top: 6px;
                    padding: 5px;
                }
            }
        }
    }
}

