.pagina-inicio {
    .inicio {
        display: flex;
        flex-direction: column;
        padding: 70px;

        .exercicios {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            gap: 45px;
        }
    }
}

@media(max-width: 450px) {
    .pagina-inicio {
        .inicio {
            .titulo {
                text-align: center;
            }
            .exercicios {
                justify-content: center;
                align-items: center;
                margin: auto    ;
            }
        }
    }
}